In [2]:
import pandas as pd
import numpy as np

In [3]:
########  item data 
data_item = pd.read_csv('underexpose_train/underexpose_item_feat.csv',sep=',',header = None)
# item_id, txt_vec, img_vec
data_item.shape

(108916, 257)

In [4]:
data_item.head()

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,42844,[4.514945030212402,-2.383720,0.500414,0.407068,-1.995229,0.109078,-0.691775,2.227460,-6.437974,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025]
1,67898,[-2.0029051303863525,-0.929881,0.790017,-1.380895,-0.510463,-1.810096,1.363962,0.497401,-4.038903,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067]
2,66446,[4.221673011779785,-1.497139,1.133570,-2.745607,-4.197045,-0.542392,-1.396256,1.838419,-6.066454,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765]
3,63651,[2.6579699516296387,-0.941863,1.121529,-5.109496,-0.279041,-0.351968,-1.086983,2.703607,-6.494977,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912]
4,46824,[3.192194938659668,-1.936676,1.199909,-2.562152,-2.573456,0.575841,-2.358653,1.620844,-4.302936,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323]

In [6]:
# 合并图片和文字描述向量： 重命名
col1=[]
for i in data_item.columns:
    col1.append('c_'+str(i))

data_item.columns=col1

In [7]:
# col rename
data_item.head()

,c_0,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,...,c_247,c_248,c_249,c_250,c_251,c_252,c_253,c_254,c_255,c_256
0,42844,[4.514945030212402,-2.383720,0.500414,0.407068,-1.995229,0.109078,-0.691775,2.227460,-6.437974,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025]
1,67898,[-2.0029051303863525,-0.929881,0.790017,-1.380895,-0.510463,-1.810096,1.363962,0.497401,-4.038903,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067]
2,66446,[4.221673011779785,-1.497139,1.133570,-2.745607,-4.197045,-0.542392,-1.396256,1.838419,-6.066454,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765]
3,63651,[2.6579699516296387,-0.941863,1.121529,-5.109496,-0.279041,-0.351968,-1.086983,2.703607,-6.494977,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912]
4,46824,[3.192194938659668,-1.936676,1.199909,-2.562152,-2.573456,0.575841,-2.358653,1.620844,-4.302936,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323]

In [13]:
# ####### 向量数据合并
# 找到所有含 [ 和 ] 的列名
col_change =[]
for i in data_item.columns:
    if '[' in str(data_item.loc[0,i]) or ']' in str(data_item.loc[0,i]):
        col_change.append(i)

# 去掉 数据中的 [ 和 ]
def drop_x(x):
    if '[' in x or ']' in x:
        x=x.replace('[','')
        x=x.replace(']','')
    return x
for i in col_change:
    data_item[i]=data_item[i].apply(lambda x: drop_x(x)) 

# 合并向量   
def merge_vec(x):
    for col in data_item.columns:
        if col = 
    
    
data_item = data_item.apply(lambda x: ,axis = 1)

IndentationError: expected an indented block (<ipython-input-13-25de65a72dd6>, line 19)

In [12]:
data_item.head()

,c_0,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,...,c_247,c_248,c_249,c_250,c_251,c_252,c_253,c_254,c_255,c_256
0,42844,4.514945030212402,-2.383720,0.500414,0.407068,-1.995229,0.109078,-0.691775,2.227460,-6.437974,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025
1,67898,-2.0029051303863525,-0.929881,0.790017,-1.380895,-0.510463,-1.810096,1.363962,0.497401,-4.038903,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067
2,66446,4.221673011779785,-1.497139,1.133570,-2.745607,-4.197045,-0.542392,-1.396256,1.838419,-6.066454,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765
3,63651,2.6579699516296387,-0.941863,1.121529,-5.109496,-0.279041,-0.351968,-1.086983,2.703607,-6.494977,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912
4,46824,3.192194938659668,-1.936676,1.199909,-2.562152,-2.573456,0.575841,-2.358653,1.620844,-4.302936,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323

In [115]:
# 空值查询
data_item.isnull().sum(axis= 0) # 找哪些列为空